# Ignore question file
/Data Engineering Technical Test 1.pdf

# Exported datasets
export/
anaconda_projects/

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Environment files
.env

# OS files
.DS_Store
Thumbs.db